parameters:
    level: 7
    ignoreErrors:
        - '#Readonly property [a-zA-Z0-9\\_]+(Plugin|Facade)\:\:\$[a-zA-Z0-9\\_]+ is assigned outside of the constructor.#'
        - '#Class [a-zA-Z0-9\\_]+(Plugin|Facade) has an uninitialized readonly property \$[a-zA-Z0-9\\_]+. Assign it in the constructor.#'
    paths:
        - src
